NODE_NAME=cloudpods-rv-master01
NODE_IP=192.168.50.10
POD_CIDR=10.244.0.0/16
POD_NODE_CIDR=10.244.0.0/24
SERVICE_CIDR=10.96.0.0/12
CLUSTER_DNS=10.96.0.10
CLUSTER_NAME=cloudpods-riscv
GHCR_NAMESPACE=ghcr.io/yinjiayi
CONTROL_PLANE_IP=192.168.50.10
HOST_NETWORK_INTERFACE=eth0
HOST_NETWORK_NAME=cloudpods-host-mgmt
HOST_NETWORK_START=192.168.50.10
HOST_NETWORK_END=192.168.50.29
HOST_NETWORK_PREFIX=24
HOST_NETWORK_GATEWAY=192.168.50.1
HOST_DISK_PATH=/opt/cloud/workspace/disks
MYSQL_PASSWORD=CHANGE_ME_HEX_PASSWORD
ADMIN_PASSWORD=CHANGE_ME_ADMIN_PASSWORD
