NODE_NAME=cloudpods-openruyi-master01
NODE_IP=192.168.50.10
POD_CIDR=10.244.0.0/16
POD_NODE_CIDR=10.244.0.0/24
SERVICE_CIDR=10.96.0.0/12
CLUSTER_DNS=10.96.0.10
CLUSTER_NAME=cloudpods-openruyi
GHCR_NAMESPACE=ghcr.io/yinjiayi
NTP_POOLS=pool.ntp.org
NTP_SERVERS=
ARTIFACT_BASE_URL=https://github.com/yinjiayi/cloudpods-riscv64-releases/releases/download/openruyi-native-k8s-v4.0.3-riscv64.1
CONTROL_PLANE_IP=192.168.50.10
HOST_NETWORK_INTERFACE=eth0
HOST_NETWORK_NAME=cloudpods-host-mgmt
HOST_NETWORK_START=192.168.50.10
HOST_NETWORK_END=192.168.50.29
HOST_NETWORK_PREFIX=24
HOST_NETWORK_GATEWAY=192.168.50.1
HOST_DISK_PATH=/opt/cloud/workspace/disks
MYSQL_PASSWORD=CHANGE_ME_HEX_PASSWORD
ADMIN_PASSWORD=CHANGE_ME_ADMIN_PASSWORD
LAB_TCG_FALLBACK=false
